body{
  background-color: black;
  background-image: url(raven.jpg);

}

h1{
   color: antiquewhite;
   font-family: cursive;

}

p{
   color:antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15 px;
    font-weight: bolder;
    font-style: italic;
    
}
